
/**
 * The TEFUnit test suite for <<FUNC_UNIT_NAME>> in the Common TSY.
 */

#include "cctsy<<FUNC_UNIT_NAME_LOWER_CASE>>fu.h"
#include <etel.h>
#include <etelmm.h>
#include <ET_CLSVR.H>

CTestSuite* CCTsy<<FUNC_UNIT_NAME>>FU::CreateSuiteL(const TDesC& aName)
	{
	SUB_SUITE;

<<ADD_TEST_STEPS>>
	END_SUITE;
	}


//////////////////////////////////////////////////////////////////
// Actual test cases
//////////////////////////////////////////////////////////////////

<<ACTUAL_TEST_CASES>>

