/**
 * The TEFUnit header file which tests the <<FUNC_UNIT_NAME>>
 * functional unit of the Common TSY.
 *
 */

#ifndef CCTSY<<FUNC_UNIT_NAME_UPPER_CASE>>FU_H
#define CCTSY<<FUNC_UNIT_NAME_UPPER_CASE>>FU_H

#include <test/TEFUnit.h>

#include <etelmm.h>
#include <etelmmcs.h>

#include "cctsycomponenttestbase.h"

class CCTsy<<FUNC_UNIT_NAME>>FU : public CCtsyComponentTestBase
	{
public:
	// Create a suite of all the tests
	static CTestSuite* CreateSuiteL(const TDesC& aName);

public:
	// Individual test steps

<<TEST_STEPS_DECLARATION>>

private:

	RTelServer iTelServer;

	RMobilePhone iPhone;

	}; // class CCTsy<<FUNC_UNIT_NAME>>FU

#endif // CCTSY<<FUNC_UNIT_NAME_UPPER_CASE>>FU_H

